#AliBar-Post-Button,
  #wrapper-AliBar-Post-Button 

  {list-style-image: url("chrome://polymarks/skin/16.png");} 

/* common style for all custom buttons */
.polymarks                    {-moz-image-region: rect( 0px 24px 24px  0px);} 

.polymarks:hover       {-moz-image-region: rect(24px 24px 48px  0px);} 

[iconsize="small"] .polymarks
    {-moz-image-region: rect( 0px 40px 16px 24px);} 

[iconsize="small"] .polymarks:hover
    {-moz-image-region: rect(24px 40px 40px 24px);}