/*This rule must appear first.  It is referenced later as cssRuleList[0] */
.pBrowserContainerClass{-moz-transform-origin: 50% 100%;transform: scale(1, 1);  animation-duration: 1000ms; animation-fill-mode: both; animation-iteration-count: 1; animation-play-state: running;will-change:transform;}/**/
/*This rule must appear second.  It is referenced later as cssRuleList[1] */
.tabdisabled .hidetabclose{}
/*This rule must appear third.  It is referenced later as cssRuleList[2] */
.tabdisabled .hidetablabel{}
/*This rule must appear fourth.  It is referenced later as cssRuleList[3] */
@keyframes browserScale {

	0% {
		transform: scale(1.0, 1.0); 
		}
	
	100% {
		transform: scale(1.0, 1.0);   
	}
}
/*This rule must appear fifth.  It is referenced later as cssRuleList[4] */
@keyframes browserSlide {

	0% {
		margin-left: 2px; 
		}
	
	100% {
		margin-left: 2px; 
	}
}
/*This rule must appear sixth.  It is referenced later as cssRuleList[5] */
#slideController{animation-duration: 1200ms; animation-iteration-count: 1; will-change:margin;}

#browserContainer{background:-moz-linear-gradient(top, #3098e1, #e3f3fb); overflow-y:auto;overflow-x:visible; background-repeat:repeat-x; background-size:cover;  position:relative; padding:5px 2px 2px 2px;will-change:scroll-position; }
#polyTabContainer{position:relative;z-index:2;}
.tabnormal .hidetablabel{display:block;}

.tablabelhover{display:block;}

.hidden {
	display:none;
	height: 0px;
	flex="0";
}

.dragTabClass {
	background:url("chrome://PolyBrowser/skin/polymsg.png");
	font-size: 12px; 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	-moz-appearance: none;border:5px solid #77D8F4;
	-moz-border-radius:8px;
	border-radius:8px; 
	-webkit-border-radius:8px;
	box-shadow: 0px 3px 0px rgba(162, 184, 204, 0.25) inset;;
	position: fixed;
	left: 100px;
	top: 100px;
	width: 50px;
	height: 50px;
}

.dragCover {
	position: relative;
	width: 100%;
	height: 100%;
	pointer-events: none;
}

.tabdisabled.dragOverLeft {
	border-left: 5px solid #77D8F4 !important;
}

.tabdisabled.dragOverRight {
	border-right: 5px solid #77D8F4 !important;
}

#browser{background-color:#ffffff;}
/* .pBrowserContainerClass{position: absolute; -moz-transform-origin: 0 0; }  */
/*#hiddenObject {display: none; height:0px; width:0px; position: absolute; -moz-transform-origin: -99999999 -99999999; top: -99999999px; right: -999999999px; !important} */
.tabContainerUtility{background-color:#fff;}/*background:url("chrome://PolyBrowser/skin/nav-bar-background.png") repeat-x #ffffff;*/
#tabContainer{background-color:#fff;}/*background:url("chrome://PolyBrowser/skin/nav-bar-background.png") repeat-x #ffffff;*/
#tabContainer tab{padding:5px;}

.tabnormal{
border-left: 1px solid #A0A096; border-right: 1px solid #A0A096; line-height:30px;padding: 4px 3px;background-color:#f5f8fa;}/*background:url("chrome://PolyBrowser/skin/tab-background-inactive.png") repeat-x;*/


/* .tabdisabled{
-moz-appearance: none;border:1px solid #A0A096;-moz-border-radius:5px 5px 0 0;border-radius:5px 5px 0 0;-webkit-border-radius:5px 5px 0 0;line-height:30px; padding: 4px 3px; box-shadow: 0px 1px 0px rgba(162, 184, 204, 0.25) inset; background:url("chrome://PolyBrowser/skin/tab-background-inactive.png") repeat-x;}
*/

.tabdisabled{
-moz-appearance: none;border:1px solid rgba(0,0,0,.1);line-height:30px; padding: 4px 3px; }


.tabdisabled:hover{
-moz-appearance: none; background-color: #f5f7fa;}

#browserContainer toolbarbutton{-moz-appearance:none;}
.DefaultNewTab{-moz-appearance:none;margin:0px;padding:0px;border:0px}
.DefaultNewTab:hover{-moz-appearance:none;margin:0px;padding:0px;border:0px}

.pAddressBar{padding-left: 10px;height:28px;font-family: helvetica;font-size: 13px;	box-shadow: 1px 1px 2px #CADDF2;margin:3px;}

.tabTitle{color: #444444;font-family: helvetica;font-size: 11px;}

.pTitle{color: #444444;	font-family: helvetica;	font-size: 13px;font-weight: bolder;}

.pBrowser{ -moz-appearance:none;  border: 1px solid #dddddd; flex="1"; }
.pBrowserHidden{ -moz-appearance:none;  border: 1px solid #dddddd; flex="1"; }
.pBrowserActive{ -moz-appearance:none; box-shadow: 0px 2px 2px 2px rgb(202, 221, 242);-moz-box-shadow: 0 0 2px 2px#CADDF2; -webkit-box-shadow: 0 0 2px 2px#CADDF2; border: 1px solid #fff; flex="1"; background-color: rgba(255, 255, 255, 0.5);}

.browserControlPanel {
	margin: -3px 0 -4px 0;
	background-color: rgba(242,246,250,0.9);
	border: 1px solid #fff;
}


.browserControlPanelDisabled {
	margin: -3px 0 -4px 0;
	background-color: rgba(242,246,250,0.7);
	border: 1px solid #dddddd;
}


.widthResizer{margin: 0px -2px 0px 2px;}


@keyframes browserAppear {

	0% {
		transform: scale(0.95, 0.95); 
	/*	opacity: 0.5; */
		}
	
	100% {
		transform: scale(1.0, 1.0);   
	/*	opacity: 1.0; */ 
	}
}


.pTransparent{	-moz-appearance:none;	background-color:transparent;}

.pTransparentImg{	-moz-appearance:none;	background-color:transparent;	height:16px;	width:16px;}


#tabContainer{height:36px;}
/*
#clipmenu{-moz-appearance:none;box-shadow: 0 0 5px 5px#77D8F4;-moz-box-shadow: 0 0 5px 5px#77D8F4; -webkit-box-shadow: 0 0 5px 5px#77D8F4; overflow:auto;background-color:#FFFFFF;border:2px solid #77D8F4;padding:5px}
#PolyHomePopup{-moz-appearance:none;box-shadow: 0 0 5px 5px#77D8F4;-moz-box-shadow: 0 0 5px 5px#77D8F4; -webkit-box-shadow: 0 0 5px 5px#77D8F4; overflow:auto;background-color:#FFFFFF;border:2px solid #77D8F4;padding:5px}
#AliBar-Post-Button-Menu-Popup{-moz-appearance:none;box-shadow: 0 0 5px 5px#77D8F4;-moz-box-shadow: 0 0 5px 5px#77D8F4; -webkit-box-shadow: 0 0 5px 5px#77D8F4; overflow:auto;background-color:#FFFFFF;border:2px solid #77D8F4;padding:5px}
*/
/*#tabArrowScroller .autorepeatbutton-up{width:10px;}
#tabArrowScroller .autorepeatbutton-down{width:10px;}  */

#nav-bar{height:36px !important; visibility:collapse;}

#PersonalToolbar,
#nav-bar,
#nav-bar[tabsontop=true],
#nav-bar[tabsontop=true][collapsed=true]:not([customizing]) + toolbar,
#nav-bar[tabsontop=true][collapsed=true]:not([customizing]) + #customToolbars + #PersonalToolbar {
	background: #ffffff !important; /*background:url("chrome://PolyBrowser/skin/nav-bar-background.png") repeat-x #ffffff !important;*/
	position:relative !important; 
	padding:0px !important;margin:0px !important; 
	border:none !important; 
	padding:0px !important;
	-moz-appearance:none;
}

#titlebar-buttonbox-container{margin-top:0px !important;}
#titlebar{margin-bottom:-8px !important;}
#titlebar-secondary-buttonbox{margin-top:-8px !important;}

#bookmarks-menu-button[cui-areatype="toolbar"][starred] {
  -moz-image-region: rect(0px, 144px, 18px, 126px);
}


#bookmarks-menu-button {
	-moz-box-orient: horizontal;
}

/*
.popAlert{ 
	background:url("chrome://PolyBrowser/skin/polymsg.png");
	width:440px;
	font-size: 12px; 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	-moz-appearance: none;border:5px solid #77D8F4;
	-moz-border-radius:8px;
	border-radius:8px; 
	-webkit-border-radius:8px;
	box-shadow: 0px 3px 0px rgba(162, 184, 204, 0.25) inset;;
}

#MsgTitle{font-weight:bolder}
#alertMessage{width:300px;}
*/

@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document url(about:blank) {
head:empty + body:empty {
	background-color: #e7f1fc;
		}
	}
	
.wait-indicator{
	background:url("chrome://polybrowser/skin/loading.gif");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 16px 16px;
	padding: 4px;
	display: none;
}

#social-share-button,
#PanelUI-recentlyClosedTabs-separator,
#PanelUI-recentlyClosedTabs,
.customizationmode-button,
#sync-setup,
#sync-menu,
#sync-syncnowitem,
#sync-reauthitem,
#superstart-toolbar-icon,
#sync-button,
#tabview-button,
#wrapper-web-apps-button,
#weavePrefsDeck {display:none;}

.toolbarbutton-1.chromeclass-toolbar-additional {margin: -2px 0px -2px 0px !important;}
#titlebar{margin-bottom:-17px !important;}


@media (-moz-os-version:windows-win8),(-moz-os-version:windows-win7), (-moz-os-version:windows-vista), (-moz-os-version:windows-xp),(-moz-os-version:windows-win10) {

	#titlebar{margin-bottom:-5px !important;}
	/*#main-window[sizemode="maximized"]#titlebar {
		-moz-appearance: "none" !important;
		margin-bottom: 5px !important;
	}*/

}

#titlebar-buttonbox-container{margin-top:-2px !important;}

.button-4-state{background-position:0% 0%;}
.button-4-state:hover{background-position:100% 100%;}
