#bg {
	background-image: url("file:///Users/AaronTravis/Library/Application%20Support/PolySuite/PolyBrowser/Profiles/d062t8vp.default-1418570182936/superstart/background-images/newTabBgContain.png");
	background-repeat: no-repeat;
	background-size: contain;
}
#bg {
background-color: #f7fbfe;
}
